Source: ubuntusway-meta
Section: metapackages
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13), germinate (>= 2.30)
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway
Rules-Requires-Root: no

Package: ubuntusway-desktop
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Depends}
Description: Complete desktop of Ubuntu Sway
 This metapackage installs the complete Ubuntu Sway desktop.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
