Source: ubuntu-sway-meta
Section: metapackages
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13), germinate (>= 2.30)
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway
Rules-Requires-Root: no

Package: ubuntu-sway-desktop
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Conflicts: ubuntusway-desktop
Replaces: ubuntusway-desktop
Recommends: ${germinate:Recommends}
Description: Complete desktop of Ubuntu Sway
 This metapackage installs the complete Ubuntu Sway desktop.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: ubuntu-sway-desktop-raspi
Architecture: arm64
Depends: ${misc:Depends}, ${germinate:Depends}
Conflicts: ubuntusway-desktop
Replaces: ubuntusway-desktop
Recommends: ${germinate:Recommends}
Description: Complete desktop of Ubuntu Sway on Raspberry Pi devices
 This metapackage installs the complete Ubuntu Sway desktop.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 
Package: ubuntu-sway-live
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Conflicts: ubuntusway-live
Replaces: ubuntusway-live
Recommends: ${germinate:Recommends}
Description: ubuntusway Live Settings
 Configuration for the Ubuntu Sway live session

Package: ubuntu-sway-minimal
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Conflicts: ubuntusway-minimal
Replaces: ubuntusway-minimal
Recommends: ${germinate:Recommends}
Description: Minimal core of Ubuntu Sway Remix
 This metapackage depends on all of the packages in the elementary minimal system,
 that is a functional command-line system with the following capabilities:
 .
  - Boot
  - Detect hardware
  - Connect to a network
  - Install packages
  - Perform basic diagnostics
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: ubuntu-sway-standard
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Conflicts: ubuntusway-standard
Replaces: ubuntusway-standard
Recommends: ${germinate:Recommends}
Description: CLI-only components of Ubuntu Sway Remix
 This metapackage depends on most of non-GUI packages from Ubuntu Sway Desktop.
